.home-container {
    position: relative;
}

.heading {
  /* background-image: url('../../assets/images/Header.png'); */
    display: flex;
    align-items: center;
    padding-left:5%;
    background-color: #19398a;
   
  }
  
  .logo {
    height: 45px;
    margin-right: 20px;
    
  }

  .details-section {
    /* background-image: url('../../assets/images/image.jpg'); */
    height:380px;
  }
  
  .title {
    font-family: 'Anton', sans-serif;
    letter-spacing: 2px;
    color: #fff;
    margin: 0;
    font-size: 36px;
  }

.header {
  padding-top: 3% ;
  /* background-image: url('../../assets/images/banner-bg.png'); */
    background-color: #031a45;
    background-size: cover;
    background-repeat: round;
    background-position: left;
    height: 850px;
}

.banner-wrapper {
  display: flex;
  flex-direction: column;
}


.header span {
  
  color: #fff;
  font-family: 'Nunito', sans-serif;
  font-style: normal;
font-weight: 800;
font-size: 25px;
line-height: 55px;
padding-left:8% ;
}



.heading-2 {
    font-family : 'Anton', sans-serif;
      color: #fff;
}

.heading-2 span {
    color: #18193F;
    letter-spacing: 1px;
}

  
.subtext {
  display: flex;
  flex-direction: row;
    color: white;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.02em;
    flex-wrap: wrap;
}

.team-list {
  color:#fff;
  flex:.5;
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top:25px;
  width: 100%;
  height:100%;
}


.slider-container {
  margin: 0 auto 0 auto;
  padding: 0 50% 0 35%;
}

.team-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left:60px;
  margin-bottom: 20px;
}

.team-logo {
  height: 175px;
  width: 175px;
  overflow: hidden; /* Clips the content to the circular shape */
  position: relative; 
  border-radius: 50%;
}
.team-logo img{
  width: 100%; /* Ensure the image covers the entire circular div */
  height: 100%; /* Ensure the image covers the entire circular div */
  object-fit: cover; /* Maintain the aspect ratio and cover the container */
  position: absolute; /* Position the image inside the circular div */
  top: 0;
  left: 0;
  
}



.heading-list {
    font-family: sans-serif;
    margin: 0 auto;
    max-width: 600px;
    text-align: center;
  }
  
  .heading-2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .list li {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      font-family: 'Nunito';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 28px;
      /* or 156% */

      letter-spacing: 0.02em;

      color: #FFFFFF;
  }

  .list li span{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    /* or 117% */
    
    letter-spacing: 0.02em;
    margin-right: 10px;
    color: #18193F;
  }
  
  .bullet {
    margin-right: 10px;
    width: 16px;
    height: 16px;
  }
  